{% extends 'naturestay/layout.html' %}
{% load static %}

{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <h2 class="text-center mb-4 playfair">Contact us to Book your Stay!</h2>

        <div class="list-group">
            <div class="list-group-item">
                <h6 class="mb-1">WhatsApp</h6>
                <a href="https://wa.me/918147013079" target="_blank" class="text-decoration-none">
                Click to Chat on WhatsApp
                </a>
            </div>

            <div class="list-group-item">
                <h6 class="mb-1">Phone</h6>
                <a href="tel:+918147013079" class="text-decoration-none">+91 8147013079</a>
            </div>

            <div class="list-group-item">
                <h6 class="mb-1">Email</h6>
                <a href="mailto:diku.stay@gmail.com" class="text-decoration-none">
                diku.stay@gmail.com
                </a>
            </div>

            <div class="list-group-item">
                <h6 class="mb-1">Instagram</h6>
                <a href="https://instagram.com/diku_nature_stay" target="_blank" class="text-decoration-none">
                @diku_nature_stay
                </a>
            </div>

        </div>
      </div>
    </div>
</div>


{% endblock %}